<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="RabbitUri" value="amqp://ycahfutx:zbdNvWlqlYgghcWfBS6NyAqyrJ67FuDn@golden-kangaroo.rmq.cloudamqp.com/ycahfutx" />
    </appSettings>
</configuration>